*{
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
nav .nav-link{
    padding: 0 30px!important;
    font-size: 1.2rem;
    color: black!important;
}
nav .nav-link:hover{
    color: #ea5b6f!important;
    transition: all .3s ease-in-out;
}
nav .nav-link.active{
    color: #ea5b6f!important;
}
.nav-icon i{
    padding-right: 1rem;
}
.nav-icon i:hover{
    color: #ea5b6f;
    transition: all .3s ease-in-out;
}
.banner{
    /* background-image: url(../images/banner-bg.png);
    background-position: center;
    background-size: cover; */
    background: linear-gradient(to right, #f74a68, #f77441)
}
.banner .btn-dark:hover{
    background-color: white!important;
    color: Black!important;
    transition: all .3s ease-in-out;
}

.banner-button{
    left:5%;
    bottom:-4%;
}
.banner-button a{
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}
    .banner-button a:hover i{
    color:#fbc11d;
    transition: all .3s ease-in-out;
}

main .btn-dark:hover{
    background-color: #ea5b6f!important;
    color: White!important;
    transition: all .3s ease-in-out;
}
section.about{
    background-image: url(../images/img-1.png);
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 20rem;
}
.red{
    color:#ea5b6f;
}
article.client{
    background: linear-gradient(to right, #f74a68, #f77441)
}

.client-img{
    bottom:-20%;
    float: left;
    position: absolute;
    z-index: 5;
    overflow: auto;
}


main .carousel-indicators {
    display: block;
    position: inherit;
    /* background-color: red; */
    display: flex;
}

main .carousel-indicators li{
    background-color: white!important;
    width: 20px!important;
    height: 20px!important;
    border-radius: 50%!important;
    opacity: 1!important;
}

main .carousel-indicators li.active {
    background-color: BLACK!important;
}
section.blog > .container-fluid {
    background-image: url(../images/img-1.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 15rem;
}
section.blog {
    background-image: url(../images/img-1.png);
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 15rem;
}
section.contact {
    background-image: url(../images/img-1.png);
    background-position-x: right;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 12rem;
}

main .contact .btn-dark{
    background-color: #ea5b6f!important;
    color: White!important;
    transition: all .3s ease-in-out;
}
main .contact .btn-dark:hover{
    background-color: black!important;
    color: white!important;
    transition: all .3s ease-in-out;
}
.bg-red{
    background-color:#f74a68;
}

footer ul.contact li{
    padding: 1rem 1.3rem;
    background-color:#f74a68;
    margin-left: 5px;
    border-radius: 200px;
    color: white;
}
footer ul.contact li:hover{
    color:#fbc11d;
    transition: all .3s ease-in-out;
}
footer .btn-dark{
    background-color: #ea5b6f!important;
    color: White!important;
    transition: all .3s ease-in-out;
}
footer .btn-dark:hover{
    background-color: black!important;
    color: white!important;
}
footer ul.social li i{
    font-size: 2.3rem;
    padding-left: 1rem;
}
footer ul.social li i:hover{
    color:#fbc11d;
    transition: all .3s ease-in-out;
}
footer{
    font-weight: 300;
}
footer .copyright a{
    text-decoration: none;
    color: inherit;
}
footer .copyright a:hover{
    color:#f74a68;
    transition: all .3s ease-in-out;
}